
header{
    margin-top: 15px;
    display: block;
    /* min-height: 200px; */
    text-align: center;
    font-family:"Roboto Condensed", sans-serif;
  }
  
  header h1{
    color: #ffffff;
    font-size: 32px;
    line-height: 1;
  }
  
  header h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 2;
  }
  