<footer>
        <!-- <mat-toolbar color="primary">
                <span><a routerLink="">Beneficiary website</a></span> 
                <span class="spacer"></span> 
                <ul>
                    <li>
                        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
                    </li>
                    <li>
                            <a mat-button routerLink="/post" routerLinkActive="mat-accent">My Posts</a>
                        </li>
                </ul>
        </mat-toolbar> -->
        <h2>POWERED BY</h2> 
        <!-- <p><a routerLink="{{ lc_link }}" target="_blank" ><img src="assets/images/logo.png" alt=""></a></p> -->  
          <p><a href="{{ lc_link }}"  target="_blank" ><img src="assets/images/logo.png" alt=""></a></p>  
</footer>
