

.home-container{
    text-align: center;
    font-size: 26px;
    width: 70%;
    margin: 0 auto;
}

mat-form-field{
    width:40px !important;
}

h5 {
    color: chocolate;
    font-size: 11px;
    margin-bottom: 10px;
}
.home-container img{
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    border: 20px solid dodgerblue;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}

.lit-ul{
    text-transform: uppercase;
}

.lit-ul div{
    width: 100%;
    text-align: center;
}

.lit-bot-link{
    position: relative;
    bottom: 41px;
}

.lit-bot-link a{
    padding:10px  30px;
    color: black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    background-color: yellow;
}

.lit-bot-link a:hover{
    padding:10px  30px;
    color: red;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    background-color: blue;
}

.lit-ul .round-li{
    color: #000000;
    background-color: yellow;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
    width: 90%;
    margin: 5px auto;
    position: relative;
    z-index: 1;
    top:20px;
}

.lit-ul > :nth-child(3){
    padding: 30px 10px 20px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    /* -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); 
    box-shadow: #000000 -2px 12px 20px 0px; */
}

.lit-inul li:after {
    color: dodgerblue;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: "■";
}

mat-spinner {
    margin: auto;
}