<div class="home-container">
  <div class="row">
      <div class="col-md-12">
        <ul class="lit-ul">
            <li><img src="../../assets/images/home-icons/icon1.png" alt=""></li>
            <li class="round-li">Blast Off</li>
            <li>
               Payment Date&nbsp;&nbsp;
                        <mat-form-field>
                                <mat-select placeholder="Payment date">
                                  <mat-option *ngFor="let date of dates" [value]="date.value">
                                    {{ date.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
               
                <h5>Summary of Purchase </h5>
                
                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item">Name-  {{ product.name }}</li>
                        <li class="list-group-item">Immediate Payment Cost = {{ product.immediatePaymentCost }}</li> 
                        <li class="list-group-item">Cost = {{ product.cost }}</li> 
                        <li class="list-group-item">Frequency = {{ product.frequency }}</li> 
                        <li class="list-group-item">Payment Date ={{ product.paymentDate }}</li> 
                      </ul>
                </div>
               
            </li>
            <li class="lit-bot-link"> <a class="" routerLink="/invoice">Purchase Service</a></li>
        </ul>
      </div>
  </div>
</div>