<app-header></app-header>
<main>
    <!-- <app-post-create></app-post-create>
    <app-post-list></app-post-list> -->
    <router-outlet></router-outlet>
    <!-- <app-home-list></app-home-list> -->
</main>
<app-footer></app-footer>
