

.home-container{
    /* text-align: center; */
    font-size: 26px;
    text-align: left;
    width: 28%;
    margin: 30px auto;
}

.lit-barcode{
    margin: 10px auto;
    /* float: right; */
}

.well{
    width: 35%;
    margin: 0 auto;
}

.lit-ul div{
    width: 100%;
}

.lit-ul > :nth-child(3){
    padding: 30px 10px 20px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    
    /* -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));  */
    box-shadow: #000000 -2px 12px 20px 0px;
}

h5 {
    padding: 15px;
}

.center{
    text-align: center;
}
