
<div class="home-container">
        <div class="row">
            <div class="col-md-12 msgbox">
                    <h1>Thank You!</h1>
                    <br>
                    <p>
                            We have received your payment and the service has now been enabled
                    </p>
            </div>
        </div>
</div>